@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik+Glitch&display=swap');

:root{
	--main-color: #424242;
	--main-color-dark: #2ed6d6;
	--dark-mode: #535657;
	--light-mode: #DEE7E7;
	--anim-duration: 0.5s;
  }

  /* PRELOADER */

  #loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
  }
  
  #loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: rgb(255, 0, 221);
	animation: spin 2s linear infinite;
	z-index: 1001;
  }
  
  #loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #c5c5c5;
	animation: spin 3s linear infinite;
  }
  
  #loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #2ed6d6;
	animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0%   { 
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes spin {
	0%   { 
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  #loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #000000;
	z-index: 1000;
	transform: translateX(0);
  }
  
  #loader-wrapper .loader-section.section-left {
	left: 0;
  }
  
  #loader-wrapper .loader-section.section-right {
	right: 0;
  }
  
  /* PRELOADER LOADED */
  .loaded #loader-wrapper .loader-section.section-left {
	transform: translateX(-100%);  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader-wrapper .loader-section.section-right {
	transform: translateX(100%); 
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader {
	opacity: 0; 
	transition: all 0.3s ease-out;
  }
  .loaded #loader-wrapper {
	visibility: hidden;
	transform: translateY(-100%);
	transition: all 0.3s 1s ease-out;
  }

  /* MAIN BACKGROUND HOME */

  body{
	margin:0;
	padding: 0;
	
  }
  .container{
	padding-top: 120px;
	max-width: 800px;
	margin: auto;
	z-index: 11;
  }
  .header{
	width: 30vw;
	height: 120px;
	top: 0;
	right: 0;
	position: fixed;
	background: transparent;
	transition-duration: var(--anim-duration);
	z-index: 11;
  }

  #logo {
	position: absolute;
	font-family: 'Space Mono', sans-serif;
	font-size: 46px;
	color: rgb(224, 224, 224);
	text-shadow: 0.04em 0.04em cyan, -0.04em -0.04em rgb(255, 0, 221);
	margin: 15px 35px;
	z-index: 10;
	cursor: pointer;
  }

  .logo:hover {
	mask-image: none;
	-webkit-mask-image: linear-gradient(-75deg, rgba(224, 224, 224, 0.8) 30%, #c5c5c5 50%, rgba(224, 224, 224, 0.8) 70%);
	mask-size: none;
	-webkit-mask-size: 200%;
	animation: shine 2s ease infinite;
  }

  @-webkit-keyframes shine {
	from {
	  -webkit-mask-position: 150%;
	}
	
	to {
	  -webkit-mask-position: -50%;
	}
  }

  .background {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	position: absolute;
  }

  #bg-clip-path {
	position: absolute;
	clip-path: polygon(21% 0, 80% 13%, 55% 100%, 45% 100%);
	height: 700px;
	width: 1000px;
	transform: translate(590px, 100px);
	opacity: 30%;
	filter: blur(3px);
	z-index: 5;
  }

  #bg5 {
	z-index: 6;
	opacity: 90%;
  }

  /* Heading Background Text */

  #heading-text {
	position: absolute;
	z-index: 7;
	height: 100vh;
  }

  #heading-1 {
	transform: translate(150px, 300px);
	font-family: 'Luckiest Guy' ,serif;
	font-size: 72px;
	font-weight: 300;
	color: whitesmoke;
	text-shadow: 0.04em 0.04em cyan, -0.04em -0.04em rgb(255, 0, 221);
  }

  #heading-2 {
	transform: translate(150px, 300px);
	font-family: 'Luckiest Guy' ,serif;
	font-size: 60px;
	color: whitesmoke;
	text-shadow: 0.04em 0.04em cyan, -0.04em -0.04em rgb(255, 0, 221);
  }

  #heading-3 {
	transform: translate(150px, 300px);
	font-family: 'Reenie Beanie' ,serif;
	font-size: 72px;
	color: whitesmoke;
	text-shadow: 0.04em 0.04em cyan, -0.04em -0.04em rgb(255, 0, 221);
  }

  /* DROPDOWN MENU */

  .banner{
	position: relative;
	max-width: 800px;
	margin:auto;
  }
  .menu{
	position: fixed;
	top: -100vh;
	width: 30vw;
	transition-duration: var(--anim-duration);
  }

  .menu li{
	font-weight: bolder;
	font-family: 'Space Mono';
	color: rgb(224, 224, 224);
	text-shadow: 0.04em 0.04em cyan, -0.04em -0.04em rgb(255, 0, 221);
	font-size: 50px;
	text-align: center;
	list-style: none;
	margin: 10vh;
  }

  .menu li:hover {
	background-color: rgb(224, 224, 224);
  	color: var(--main-color);
	-webkit-box-shadow: 0px 0px 20px 10px rgba(0, 255, 255, 0.715); 
	box-shadow: 0px 0px 20px 10px rgba(0, 255, 255, 0.715);
	border-radius: 16px;
	cursor: pointer;
  }

  .hamburger-nav-container{
	box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.3);
	position: relative;
	border-radius: 100%;
	height: 70px;
	width: 70px;
	float: right;
	margin-top: 25px;
	margin-right: 25px;
	background-color: var(--main-color);
	filter: drop-shadow(0 0 0.75rem rgb(224, 224, 224));
	transition-duration: var(--anim-duration);
	transition-delay: .5s;
	
  }
  .hamburger-nav{
	position: absolute;
	height: 35px;
	width: 45px;
	transform: translate(-50%,-50%);
	top:50%;
	left: 50%;
	cursor: pointer;
  }
  .ham-line{
	background-color:var(--main-color-dark);
	filter: drop-shadow(0 0 0.75rem rgb(224, 224, 224));
	z-index: 10;
	width: 100%;
	height: 5px;
	position: absolute;
	animation: forwards ease-in-out;
  }
  .line1{
	right: 0;
	top: 0;
	transform: rotate(0deg);
  }
  .line2{
	top: 50%;
	transform: translate(0%,-50%);
  }
  .line3{
	bottom: 0;
	left: 0;
  }
  
 /* HAMBURGER BUTTON ANIMATION */

  .block{
	overflow: hidden;
  }
  #header.active{
	height: 100vh;
	background: rgba(168, 168, 168, 0.14);
	border-radius: 0px 0px 16px 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.3px);
	-webkit-backdrop-filter: blur(8.3px);
	border: 1px solid rgba(215, 215, 215, 0.21);
  }
  #menu.active{
	top: 120px;
  }
  .active{
	transition-duration: var(--anim-duration);
	animation-duration: var(--anim-duration);
	
  }
  .deactive{
	transition-duration: var(--anim-duration);
	animation-duration: var(--anim-duration);
  }
  #hamburger-nav-container.active{
	transform: rotate(45deg);
  }
  .line1.active {
	animation-name: line1anim;
  }
  .line3.active {
	animation-name: line3anim;
  }
  .line1.deactive {
	animation-name: line1anim-reverse;
  }
  .line3.deactive {
	animation-name: line3anim-reverse;
  }
  
  @keyframes line1anim {
	0%   {width: 100%; transform: rotate(0deg) translateX(0%);}
	30%   {width: 50%; transform: rotate(0deg) translateX(20%); right: 0%; top: 0%;}
	70%   {width: 50%; transform: rotate(-90deg) translateX(20%); right: 0%; top: 25%;}
	100% {width: 50%; transform: rotate(-90deg) translateX(20%) ; right: 25%; top: 25%;}
  }
  @keyframes line1anim-reverse {
	100%   {width: 100%; transform: rotate(0deg) translateX(0%);}
	70%   {width: 50%; transform: rotate(0deg) translateX(20%); right: 0%; top: 0%;}
	30%   {width: 50%; transform: rotate(-90deg) translateX(20%); right: 0%; top: 25%;}
	0% {width: 50%; transform: rotate(-90deg) translateX(20%) ; right: 25%; top: 25%;}
  }
  @keyframes line3anim {
	0%   {width: 100%; transform: rotate(0deg) translateX(0%);}
	30%   {width: 50%; transform: rotate(0deg) translateX(20%); left: 0%; bottom: 0%;}
	70%   {width: 50%; transform: rotate(-90deg) translateX(20%); left: 0%; bottom: 0%;}
	100% {width: 50%; transform: rotate(-90deg) translateX(20%) ; left: 25%; bottom: 0%;}
  }
  @keyframes line3anim-reverse {
	100%   {width: 100%; transform: rotate(0deg) translateX(0%);}
	70%   {width: 50%; transform: rotate(0deg) translateX(20%); left: 0%; bottom: 0%;}
	30%   {width: 50%; transform: rotate(-90deg) translateX(20%); left: 0%; bottom: 0%;}
	0% {width: 50%; transform: rotate(-90deg) translateX(20%) ; left: 25%; bottom: 0%;}
  }

/* DARK MODE SWITCH  */

.theme-switch-wrapper {
	display: flex;
	align-items: center;
}
.theme-switch-wrapper em {
	margin-left: 10px;
	font-size: 1rem;
	font-family: 'Space Mono', sans-serif;
	text-shadow: 0.04em 0.04em cyan, -0.04em -0.04em rgb(255, 0, 221);
}
.theme-switch-wrapper .theme-switch {
	display: block;
	height: 34px;
	position: relative;
	width: 60px;
}
.theme-switch-wrapper .theme-switch.input {
	display: none;
}
.theme-switch-wrapper .theme-switch .slider {
	background-color: var(--light-mode);
	border: 1px solid var(--dark-mode);
	top: 0;
	left: -2px;
	bottom: 0;
	right: 0;
	cursor: pointer;
	position: absolute;
	transition: 0.27s;
}
.theme-switch-wrapper .theme-switch .slider:before {
	background-color: var(--dark-mode);
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
}
.theme-switch-wrapper .theme-switch input:checked + .slider {
	background-color: cyan;
}
.theme-switch-wrapper .theme-switch input:checked + .slider:before {
	transform: translateX(28px);
}
.theme-switch-wrapper .theme-switch .slider.round {
	border-radius: 34px;
}
.theme-switch-wrapper .theme-switch .slider.round::before {
	border-radius: 50%;
}

/* DARK MODE */

body.dark-mode {
	background-color: var(--dark-mode);
	color: var(--light-mode);
}
body.dark-mode .text-elem {
	color: var(--light-mode) !important; 
}

body.dark-mode .typing-text {
	color: var(--light-mode) !important; 
}

body.dark-mode .hamburger-nav-container{
	background-color: var(--light-mode);
	filter: drop-shadow(0 0 0.75rem var(--light-mode));
	transition-delay: 0s;
}

body.dark-mode .ham-line {
	background-color: var(--dark-mode);
}

body.dark-mode .menu li:hover {
	color: var(--dark-mode) !important;
}

body.dark-mode button {
	background-color: var(--light-mode);
	color: var(--dark-mode);
}
body.light-mode {
	background-color: var(--light-mode);
	color: var(--dark-mode);
}
body.light-mode .text-elem {
	color: var(--dark-mode) !important;
}

body.light-mode .typing-text {
	color: var(--dark-mode) !important; 
}

body.light-mode .hamburger-nav-container{
	background-color: var(--dark-mode);
	filter: drop-shadow(0 0 0.75rem var(--dark-mode));
	transition-delay: 0s;
}

body.light-mode .menu li:hover {
	color: var(--light-mode) !important;
	background-color: grey !important;
	-webkit-box-shadow: 0px 0px 20px 10px var(--dark-mode); 
	box-shadow: 0px 0px 20px 10px var(--dark-mode);
}

body.light-mode button {
	background-color: var(--dark-mode);
	color: var(--light-mode);
}  

#dark-mode-button {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 20vw;
	display: flex;
	top: 95vh;
	left: 1vw;
	z-index: 100;
}